beautifulsoup4
coqui-tts
cutlet
deep_translator
docker
ebooklib
gensim
gradio>=4.44
hangul-romanize
indic-nlp-library
iso-639
jieba
mecab
mecab-python3
pydub
pypinyin
ray
transformers
translate
tqdm
unidic